@charset "UTF-8";
// ===========================
// Distance: margin, padding
// ===========================

.mg-auto {
  margin: 0 auto;
}

// margin-top
.mgt-0 {
  margin-top: 0;
}

.mgt-5 {
  margin-top: 5px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgt-15 {
  margin-top: 15px;
}

.mgt-20 {
  margin-top: 20px;
}

.mgt-25 {
  margin-top: 25px;
}

.mgt-30 {
  margin-top: 30px;
}

.mgt-35 {
  margin-top: 35px;
}

.mgt-40 {
  margin-top: 40px;
}

.mgt-45 {
  margin-top: 45px;
}

.mgt-50 {
  margin-top: 50px;
}

.mgt-55 {
  margin-top: 55px;
}

.mgt-60 {
  margin-top: 60px;
}

.mgt-65 {
  margin-top: 65px;
}

.mgt-70 {
  margin-top: 70px;
}

.mgt-75 {
  margin-top: 75px;
}

.mgt-80 {
  margin-top: 80px;
}

.mgt-85 {
  margin-top: 85px;
}

.mgt-90 {
  margin-top: 90px;
}

.mgt-95 {
  margin-top: 95px;
}

.mgt-100 {
  margin-top: 100px;
}


// margin-bottom
.mgb-0 {
  margin-bottom: 0;
}

.mgb-5 {
  margin-bottom: 5px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgb-15 {
  margin-bottom: 15px;
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgb-25 {
  margin-bottom: 25px;
}

.mgb-30 {
  margin-bottom: 30px;
}

.mgb-35 {
  margin-bottom: 35px;
}

.mgb-40 {
  margin-bottom: 40px;
}

.mgb-45 {
  margin-bottom: 45px;
}

.mgb-50 {
  margin-bottom: 50px;
}

.mgb-55 {
  margin-bottom: 55px;
}

.mgb-60 {
  margin-bottom: 60px;
}

.mgb-65 {
  margin-bottom: 65px;
}

.mgb-70 {
  margin-bottom: 70px;
}

.mgb-75 {
  margin-bottom: 75px;
}

.mgb-80 {
  margin-bottom: 80px;
}

.mgb-85 {
  margin-bottom: 85px;
}

.mgb-90 {
  margin-bottom: 90px;
}

.mgb-95 {
  margin-bottom: 95px;
}

.mgb-100 {
  margin-bottom: 100px;
}

