@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
  padding: 35px 0;
	background-color: #fff;
	@include mq() {
	}
	&-inner {
		width: 1400px;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		@include mq() {
	    width: 300px;
	    margin: 0 auto;
		}	
	}
	&-top {
		display: flex;
		margin-bottom: 50px;
		@include mq() {
	    display: block;
	    margin-bottom: 22px;
		}
	}
	&-infor {
		width: 270px;
		margin-right: vw(70);
		@include mq() {
			width: 100%;
			margin: 0 auto; 
		}
		&--cnt {
			font-size: fs(12);
			letter-spacing: .6px;
			line-height: 1.8;
		}
	}
	&-nav {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding-top: 15px;
		@include mq() {
	    display: none;
		}
		&--col {
			margin-right: 35px;
			@include mq() {
		    margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			ul {
				li {
					margin-bottom: 12px;
					a {
						position: relative;
						display: inline-block;
						padding-left: 12px;
						font-size: fs(14);
						font-weight: bold;
						&:before {
							position: absolute;
							left: 0;
							top: 8px;
							display: block;
							width: 5px;
							height: 5px;
							border-radius: 50%;
							background-color: #1F8CFA;
							border: solid 1px #1F8CFA;
							content: "";
						}
						&.type2 {
							&:before {
								background-color: #fff;
							}
						}
					}
				}
			}
		}
	}
	&-copyWrap {
		display: flex;
		justify-content: space-between;
		@include mq() {
	    display: block;
		}
	}
	&-partner {
		@include mq() {
	    margin-bottom: 30px;
		}
		ul {
			display: flex;
			align-items: center;
			li {
				margin-right: 10px;
				a {
					display: flex;
					align-items: center;
				}
			}
		}
	}
	&-copy {
		font-size: fs(12);
		color: #A7A7AC;
	}
	&-logo {
		width: 258px;
		margin-bottom: 20px;
		@include mq() {
	    margin: 0 auto 35px;
	    a {
	    	text-align: center;
	    	img {
	    		width: 100%;
	    	}
	    }
		}
		@include mq() {
	    margin-bottom: 18px;
		}
	}
}

// block contact
.section-contact {
	position: relative;
	display: block;
	padding: 84px 0;
	min-height: 430px;
	background: url(../images/common/bg-section-contact.png) no-repeat;
	background-size: cover;
	background-position: bottom center;
	text-align: center;
	@include mq(sm2) {
		padding: 35px 0;
	}
	&--inner {
		width: 720px;
		max-width: 100%;
		margin: 0 auto;
		@include mq(sm2) {
			padding: 0 15px;
		}
	}
	&--ttl {
		margin-bottom: 50px;
		font-size: fs(20);
		font-weight: bold;
		color: #022845;
		@include mq(sm2) {
			margin-bottom: 25px;
		}
	}
	&--desc {
		margin-bottom: 30px;
		font-size: fs(15);
		line-height: 2;
		text-align: left;
		@include mq(sm2) {
			margin-bottom: 25px;
			font-size: fs(14);
			line-height: 1.8;
		}
	}
	&--direct {
		.btn-contact {
			margin: 0 auto;
			@include mq(sm2) {
				width: 270px;
				height: 60px;
				line-height: 60px;
			}
		}
	}
	&--link {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		@include mq() {
			right: 20px;
		}
	}
}

.pagetop {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 54px;
	padding-top: 20px;
	font-size: fs(10);
	letter-spacing: 1.8px;
	font-weight: bold;
	font-family: $font-b;
	color: #1F8CFA;
	background: url(../images/common/bg-pagetop.svg) no-repeat;
	background-size: cover;
	background-position: bottom center;
}