@charset "UTF-8";

/* -------------------
  COMMON
--------------------*/
.btn-contact {
  display: block;
  font-size: fs(14);
  font-weight: bold;
  color: #0566EF;
  width: 170px; 
  height: 42px;
  line-height: 42px;
  border-radius: 80px;
  // padding: 0 35px;
  background-color: #fff;
  border: solid 1px #0566EF;
  text-align: center;
  transition: all .25s;
  &:hover {
    background-color: #0566EF;
    color: #fff;
  }
}

/* -------------------
  HEADER
--------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 0 0 vw(30);
  z-index: 9999;
  transition: all .25s;
  &.active {
    position: fixed;
    height: 70px;
    background: rgba(255,255,2555,.95);
  }
  @include mq() {
    position: fixed;
    height: 70px;
    padding: 0 15px;
    border-bottom: solid 1px transparent;
    &.active {
      background-color: #fff;
      border-bottom: solid 1px #EFEFEF;
    }
    &.active2 {
      background-color: #fff;
    }
  }
  &-logo {
    width: 258px;
    z-index: 9999;
    .h-logo-sp {
      display: none;
      &.active {
        display: block;
      }
    }
    .h-logo-pc {
      &.active {
        display: none;
      }
    }
    a {
      display: block;
    }
    @include mq() {
      width: 185px;
    }
  }
}



/* -------------------
  menu
--------------------*/
.menu {
  height: 100%;
  text-align: right;
  font-size: vw(15);
  font-weight: bold;
  @include mq() {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    font-size: fs(12);
    line-height: fs(20);
    font-weight: bold;
    background: transparent linear-gradient(213deg, #1F8CFA 0%, #0566EF 100%) 0% 0%;
    z-index: 9998;
    transform: translateX(100%);
    transition: all .3s;
    &.active {
      transform: translateX(0);
    }
  }

  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    @include mq() {
      display: block;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 vw(20) 0 vw(30);
    @include mq() {
      display: block;
      padding: 0 0 50px;
      height: auto;
    }
  }

  &-item {
    margin-right: vw(35);
    text-align: left;
    @include mq() {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.contact {
      margin-top: -5px;
      margin-right: vw(40);
      @include mq() {
      }
      a {
        display: block;
      }
    }

    a {
      display: block;
      transition: all .3s;
      word-break: keep-all;
      @include mq() {
        padding: 15px 40px;
        color: #fff;
        span {
          &.en {
            margin-bottom: 6px;
            font-size: fs(30);
            font-weight: bold;
          }
        }
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// Button Open Menu SP
.sp-navBtn {
  position: fixed;
  top: 12px;
  right: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #1F8CFA;
  z-index: 9999;
  &.active {
    background-color: #fff;
    span {
      background-color: #0566EF;
    }
  }
  span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 12px;
    height: 2px;
    background-color: #fff;
    transition: all .3s;

    &:first-child {
      top: calc(50% - 4px);
    }

    &:nth-child(2) {
      top: calc(50% + 2px);
    }
  }
}