.p-about {
	&--intro {
		position: relative;
		min-height: 775px;
		background: #DFE0E0;
		@include mq() {
			min-height: 630px;
		}
		&-ttl {
			height: 55px;
			// margin-bottom: 40px;
			margin-bottom: vw(40);
			@include mq(sm2) {
				height: 30px;
				margin-bottom: 20px;
			}
			img {
				height: 100%;
				width: auto;
			}
		}
		&-infor {
			display: flex;
			margin-top: 45px;
			padding: 0 vw(110);
			margin-left: auto;
			justify-content: space-between;
			@include mq() {
				padding: 0 20px;
				justify-content: center;
			}
			@include mq(sm2) {
				padding: 0 20px 50px;
				flex-flow: column-reverse;
			}

			&-cnt {
				// width: 600px;
				width: vw(600);
				// padding-top: 90px;
				padding-top: vw(90);
				@include mq() {
					width: 50%;
				}
				@include mq(sm2) {
					width: 100%;
					padding-top: 50px;
				}
			}
			&-img {
				// width: calc(100% - 600px);
				width: vw(500);
				// margin-left: 50px;
				// margin-top: 40px;
				text-align: center;
				@media screen and (max-width: 1150px) and (min-width: 1051px) {
					// width: 60%;
					padding-top: 60px;
				}
				@include mq() {
					width: 30%;
					margin-left: 50px;
				}
				@include mq(sm2) {
					width: 70%;
					margin-left: auto;
					margin-right: auto;
					margin-top: 30px;
				}
			}
			&-sign {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 240px;
				padding-top: 60px;
				padding-right: vw(100);
				background: url(../images/about/bg-sign.png) no-repeat;
				background-size: cover;
				@media screen and (max-width: 1150px) and (min-width: 1051px) {
					// width: 60%;
					padding-top: 72px;
				}
				&-inner {
					text-align: right;
					@include mq(sm2) {
						text-align: center;
					}
				}
				&-position {
					font-size: fs(13);
					line-height: .65px;
					margin-bottom: 10px;
				}
				&-mark {
					height: 24px;
					@include mq(sm2) {
						height: 20px;
					}
					img {
						height: 100%;
						width: auto;
					}
				}
			}
		}
	}
	&--list {

	}
	&--item {
		margin-bottom: 160px;
		padding: 0 vw(70) vw(70) 180px;
		background: url(../images/about/bg-item01.svg) right bottom no-repeat;
		background-size: contain;
		@include mq() {
			padding: 70px 20px 40px !important; 
			margin-bottom: 0 !important; 
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(even) {
			padding: 0 0 vw(180) vw(70);
			margin-bottom: vw(20);
			background-image: url(../images/about/bg-item02.svg);
			background-position: left bottom;
			._inner {
				flex-flow: row-reverse;
				justify-content: flex-end;
			}
			._cnt {
				padding-right: 0;
				padding-left: 50px;
			}
		}
		&:nth-child(3n) {
			padding: 0 0 vw(180) vw(160);
			background-image: url(../images/about/bg-item03.svg);
		}
		._inner {
			display: flex;
			@include mq(sm2) {
				display: block !important; 
			}
		}
		._cnt {
			width: vw(540);
			padding-right: 50px;
			@include mq() {
				width: 50%;
			}
			@include mq(sm2) {
				width: 100%;
				padding-right: 0 !important; 
				padding-left: 0 !important; 
			}
		}
		&-ttl {
			margin-bottom: 35px;
			font-size: fs(24);
			font-weight: bold;
			letter-spacing: 1.8px;
		}

		&-thumb {
			width: vw(560);
			height: vw(370);
			border-radius: 10px;
			overflow: hidden;
			@include mq() {
				width: 50%;
			}
			@include mq(sm2) {
				width: 100%;
				margin-top: 30px;
				height: 220px;
			}
		}
	}
}