.p-company {
  padding-top: 20px;

  &-desc {
    margin-bottom: 70px;

    @include mq() {
      margin-bottom: 50px;
    }
  }

  &--intro {
    margin-bottom: 70px;
    font-size: fs(24);
    letter-spacing: 1.8px;

    @include mq() {
      font-size: fs(20);
    }
  }

  &--list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -10px;

    @include mq(sm2) {
      display: block;
      margin: 0;
    }

    &-item {
      width: 33.33%;
      padding: 10px;

      @include mq() {}

      @include mq(sm2) {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
      }

      &-inner {
        position: relative;
        height: 222px;

        @include mq() {
          height: 150px;
        }

        @include mq(sm2) {
          height: vw2(190);
        }
      }

      &-infor {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);

        &-ttl {

          span {
            display: block;
            text-align: center;

            &.jp {
              font-size: fs(18);
              letter-spacing: 1.35px;
              font-weight: bold;

              @include mq(sm2) {
                font-size: fs(18);
              }
            }

            &.en {
              font-size: fs(15);
              letter-spacing: 1.5px;
              font-weight: bold;
              font-family: $font-b;
              color: #1F8CFA;

              @include mq(sm2) {
                font-size: fs(14);
              }
            }
          }
        }
      }

      &-icon {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        padding: 0 12px 7px 5px;
        background: url(../images/top/bg-arrow.svg) no-repeat;

        img {
          width: 6px;
          height: 10px;
        }
      }
    }
  }

  &--direct {
  	padding: 50px 0;
  	background-color: #E5F1FE;
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;

      li {
        padding: 10px;
        width: 33.33%;

        @include mq(sm2) {
          width: 100%;
        }

        a {
          position: relative;
          overflow: hidden;
          display: block;
          color: #1F8CFA;
          font-size: fs(18);
          font-weight: bold;
          letter-spacing: .9px;
          padding: 22px 25px 22px 15px;
          border: solid 1px #E3EBF2;
          border-bottom-color: #1F8CFA;
          border-radius: 4px 4px 6px 6px;
          background: #fff url(../images/common/icon-arrow-right.svg) right 15px center no-repeat;
          background-size: 5px 10px;
          transition: all .25s;

          &:hover {
            opacity: .8;
            border-color: #1F8CFA !important;
          }
        }
      }
    }
  }
}

.p-csr {
  &--cnt {
    margin-top: 80px;
    @include mq() {
			margin-top: 50px;
		}
  }

  &--list {
    li {
      margin-bottom: 55px;
      @include mq() {
				margin-bottom: 35px;
			}

      &:last-child {
        margin-bottom: 0;
      }

      .ttl {
        margin-bottom: 25px;
        font-size: fs(24);
        letter-spacing: 1.2px;
        font-weight: bold;
        @include mq() {
					margin-bottom: 15px;
	        font-size: fs(20);
				}
      }
    }
  }
}

.p-certification {
  &--cnt {
    margin-top: 20px;
    @include mq() {
			margin-top: 20px;
		}
  }
  &--list {
  	display: flex;
  	flex-wrap: wrap;
  	margin: 40px 0 50px;
  	padding: 20px 20px 15px 20px;
  	background-color: #F8F9FA;
  	border: solid 1px #E5E5E5;
  	@include mq() {
  		justify-content: space-between;
  	}
  	li {
  		position: relative;
  		width: 35%;
  		margin-bottom: 5px;
  		padding-left: 18px;
  		font-weight: bold;
  		font-size: fs(15);
  		@include mq() {
  			width: 48%;
  		}
  		@include mq(sm2) {
				width: 100%;
			}
  		&:before {
  			position: absolute;
  			left: 0;
  			top: 6px;
  			display: block;
  			width: 7px;
  			height: 7px;
  			border-radius: 50%;
  			background-color: #0566EF;
  			content: "";
  		}
  	}
  }
  &--listImg {
  	display: flex;
		flex-wrap: wrap;
		margin: -20px;
		@include mq(sm2) {
			display: block;
			margin: 0;
		}
    li {
      &:last-child {
        margin-bottom: 0;
      }
      width: 33.33%;
			padding: 20px;
			margin-bottom: 20px;
			@include mq(sm2) {
				width: 100%;
				padding: 0;
			}
			.inner {
				display: block;
				height: 100%;
				.thumb {
					height: 213px;
					margin-bottom: 10px;
					@include mq() {
	  				height: 155px;
					}
					@include mq(sm2) {
	  				height: 210px;
					}
				}
				.ttl {
					font-size: fs(13);
					letter-spacing: .33px;
				}
			}
    }
  }
}

.p-profile {
  display: flex;
  @include mq(sm2) {
    flex-flow: column-reverse;
  }
  section {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--cnt {
    width: auto;
  }
  &--nav {
    width: 125px;
    margin-left: 75px;
    flex-shrink: 0;
    @include mq(sm2) {
      width: 100%;
      margin-left: 0;
    }
    &-ttl {
      font-size: fs(22);
      letter-spacing: 1.65px;
      font-weight: bold;
      margin-bottom: 28px;
      @include mq(sm2) {
        display: none;
      }
    }
    &-list {
      @include mq(sm2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
      }
      li {
        @include mq(sm2) {
          width: 48%;
          margin-bottom: 15px;
        }
        a {
          display: block;
          position: relative;
          padding: 2px 0 6px 20px;
          font-size: fs(16);
          letter-spacing: 0.8px;
          font-weight: bold;
          color: #8E8E8E;
          border-left: solid 2px #E1EBF3;
          @include mq(sm2) {
            border: solid 1px #E1EBF3;
            padding: 8px 5px;
            text-align: center;
          }
          &:hover {
            color: #1F8CFA;
            &:after {
              height: 100%;
            }
          }
          &:after {
            position: absolute;
            left: -2px;
            top: 0;
            width: 2px;
            height: 0;
            background-color: #1F8CFA;
            content: "";
            transition: all .25s;
            @include mq(sm2) {
              display: none;
            }
          }
        }
      }
    }
  }
  &--head {
    background: url(../images/company/bg-wave.svg) no-repeat;
    background-size: contain;
    background-position: top left;
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 30px;
    }
    &-item {
      position: relative;
      padding: 0 60px;
      -ms-writing-mode: bt-rl;
      writing-mode: vertical-rl;
      direction: rtl;
      font-size: fs(32);
      letter-spacing: 2.25px;
      @include mq(sm2) {
        padding: 0 30px;
        font-size: fs(28);
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        position: absolute;
        left: 80px;
        top: -18px;
        display: block;
        width: 180px;
        height: 125px;
        background: url(../images/company/bg-line.svg) no-repeat;
        background-size: contain;
        background-position: top center;
        content: "";
        @include mq(sm2) {
          left: 48px;
          top: -6px;    
          display: block;
          width: 110px;
          height: 96px;
        }
      }
    }
  }
  .line-list {
    li {
      margin-bottom: 10px;
      padding-left: 140px;
      background: url(../images/company/icon-line.svg) no-repeat;
      background-size: 120px 6px;
      background-position: top 9px left;
      font-weight: bold;
      @include mq(sm2) {
        padding-left: 65px;
        background-size: 50px 6px;
      }
    }
  }
  &--access {
    &-map {
      margin-bottom: 15px;
      iframe {
        width: 100%;
        height: 500px; 
        @include mq(sm2) {
          height: 300px;
        }
      }
    }
  }
}