.p-end {
	&--mv {
		position: relative;
		min-height: vw(500);
		padding: 160px 0 0;
		background: url(../images/endpage/bg-endpage.png) no-repeat;
		background-size: cover;
		&.type2 {
			margin-bottom: -6px;
			background-image: url(../images/endpage/bg-endpage2.png);
	    background-position: left bottom;
		}
		&.type3 {
			// margin-bottom: -6px;
			background-image: url(../images/endpage/bg-endpage4.png);
	    background-position: left bottom;
		}
		@include mq() {
      padding-top: 100px;
    }
    @include mq(sm2) {
      padding-bottom: 90px;
    }
	}
	&--cnt {
		padding: 40px 0 100px;
		&.type2 {
			padding-top: 0;
		}
		&.type3 {
			padding-top: 0;
			padding-bottom: 0;
		}
		&.service {
			padding-bottom: 0;
		}
	}
	&--ttl {
    margin-left: vw(110);
    @include mq() {
      margin-left: vw2(15);
    }
		span {
			display: block;
			&.en {
				font-size: fs(68);
				letter-spacing: 1.7px;
				font-weight: bold;
				color: #1F8CFA;
				@include mq() {
		      font-size: fs(40);
					letter-spacing: 1.5px;
		    }
		    @include mq(sm2) {
		      font-size: fs(30);
					letter-spacing: 1.2px;
		    }
			}
			&.jp {
				font-size: fs(16);
				letter-spacing: 0.8px;
				color: #1F8CFA;
				font-weight: 700;
				@include mq() {
		      font-size: fs(15);
		    }
		    @include mq(sm2) {
		      font-size: fs(13);
		    }
			}
		}
	}
	&--ttl2 {
		margin-bottom: 100px;
		font-size: fs(42);
		letter-spacing: 3.15px;
		font-weight: bold;
		color: #0566EF;
		@include mq() {
			font-size: fs(35);
			margin-bottom: 60px;
		}
	}
	&--subTtl {
		margin-bottom: 50px;
		font-size: fs(30);
		font-weight: bold;
		letter-spacing: 1.5px;
		@include mq() {
			font-size: fs(25);
			margin-bottom: 30px;
		}
	}
}