.p-news {
	margin-top: 40px;
	@include mq() {
		margin-top: 20px;
	}
	&--item {
		position: relative;
		padding: 25px 35px 25px 25px;
		display: flex;
		align-items: center;
		border-top: solid 1px #EBEBEB;
		&:last-child {
			border-bottom: solid 1px #EBEBEB;
		}
		&:after {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 8px;
      height: 12px;
      background: url(../images/common/icon-arrow-right.svg) no-repeat;
      background-size: contain;
      content: "";
      @include mq(sm2) {
      	right: 0;
	    }
    }
		@include mq(sm2) {
      display: block;
      padding: 25px 35px 25px 10px;
    }
		&-dateWrap {
			min-width: 200px;
			display: flex;
			flex-shrink: 0;
	    align-items: center;
			@include mq() {
        width: 210px;
        max-width: 100%;
      }
      @include mq(sm2) {
        width: 100%;
        margin-bottom: 10px;
      }
			.date2 {
				width: 80px;
				margin-right: 10px;
	      @include mq() {
	      	width: 70px;
	        margin-right: 20px;
	      }
			}
			.tag {

			}
		}
		&-ttl {
			display: inline-block;
			font-size: fs(15);
			letter-spacing: .3px;
			// font-weight: bold;
		}
	}

	&--detail {
		margin-top: 30px;
		&-head {
			margin-bottom: 30px;
			@include mq() {
	      margin-bottom: 25px;
	    }
		}
		&-ttl {
			margin-bottom: 25px;
			font-size: fs(30);
			letter-spacing: 0.75px;
			font-weight: bold;
			@include mq(sm2) {
				font-size: fs(28);
				margin-bottom: 25px;
			}
		}
		&-dateWrap {
			margin-bottom: 25px;
		}
		&-desc {
			margin-bottom: 40px;
			font-size: fs(16);
			@include mq(sm2) {
				margin-bottom: 50px;
				font-size: fs(15);
			}
		}
		&-direct {
			.btn-back {
				margin: 0 auto;
			}
		}
	}
}