.p-privacy {
	&--ttl {
		margin-bottom: 50px;
		font-size: fs(30);
		font-weight: bold;
		letter-spacing: .75px;
		@include mq() {
      font-size: fs(25);
    }
	}
	&--intro {
		letter-spacing: .4px;
		margin-bottom: 60px;
	}
	&--list {

	}
	&--item {
		margin-bottom: 60px;
		&-ttl {
			margin-bottom: 20px;
			font-weight: bold;
			font-size: fs(24);
			letter-spacing: .6px;
			@include mq() {
	      font-size: fs(22);
	    }
		}
		&-desc {
			font-size: fs(15);
			letter-spacing: .38px;
		}
	}
	&--notice {
		margin-top: 132px;
		&-ttl {
			margin-bottom: 50px;
			font-size: fs(30);
			letter-spacing: .75px;
			font-weight: bold;
			@include mq() {
	      font-size: fs(25);
	    }
		}	
		&-intro {
			margin-bottom: 40px;
			font-size: fs(16);
			letter-spacing: .4px;
		}
		&-list {
			padding: 20px 15px;
			border-top: solid 1px #E5E5E5;
			border-bottom: solid 1px #E5E5E5;
		}
		&-item {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
			&-ttl {
				position: relative;
				font-size: fs(15);
				letter-spacing: .38px;
				font-weight: bold;
				margin-bottom: 10px;
				padding-left: 20px;
				&:before {
					position: absolute;
					top: 7px;
					left: 0;
					display: block;
					width: 10px;
					height: 10px;
					background-color: #052D9F;
					content: "";
				}
			}
		}
	}
}