.p-recruit {
  &--intro {
    margin-top: vw(-200);
    padding-top: vw(150);
    background: url(../images/recruit/bg-recruit.png) no-repeat;
    background-size: contain;
    background-position: left center;
    @include mq() {
    	margin-top: -180px;
    	background-size: cover;
    }
    @include mq(sm2) {
      margin-top: -160px;
      padding-top: 90px;
    }
    &-inner {
      height: vw(600);
      padding-bottom: vw(100);
    	min-height: 500px;
      display: flex;
      align-items: center;
      @include mq(sm2) {
      	display: block;
	      height: 420px;
	      min-height: auto;
      	padding-top: 100px;
	    }
    }

    &-ttl {
      margin-right: 15px;
      font-size: fs(42);
      font-weight: bold;
      letter-spacing: 4.2px;
      @include mq() {
				font-size: fs(25);
	    }
    }

    .desc {
      font-weight: bold;
      width: 440px;
      max-width: 100%;
    }
  }

  &--challenge {
  	position: relative;
  	margin-top: vw(-250);
  	padding: vw(250) 0 vw(100);
  	background: url(../images/recruit/bg-challenge.png) no-repeat;
    background-size: cover;
    background-position: top center;
  	z-index: 1;
  	@include mq(sm2) {
      margin-top: -55px;
	    padding: 20px 0;
	    background-size: contain;
    }
  	&-ttl {
  		width: 240px;
  		margin: vw(-150) -40px 40px auto;
  		@include mq() {
	      margin-right: 10px;
	    }
	    @include mq(sm2) {
	      width: 180px;
	      margin: 50px 10px 20px auto;
	    }
  	}
    &-cnt {
      display: flex;
      justify-content: center;
      margin: 0 -10px;

      @include mq(sm2) {
        display: block;
        margin: 0;
      }

      &-item {
        padding: 0 10px;

        @include mq(sm2) {
          padding: 0;
          margin-bottom: 20px;
        }

        &-inner {
          position: relative;
          height: 280px;

          @include mq(sm2) {
            height: vw2(190);
          }
        }

        &-infor {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -50%);

          &-ttl {

            span {
              display: block;
              text-align: center;

              &.jp {
                margin-bottom: 3px;
                font-size: fs(26);
                letter-spacing: 1.95px;
                font-weight: bold;
                @include mq(sm2) {
						      font-size: fs(22);
						    }
              }

              &.en {
                font-size: fs(15);
                letter-spacing: 1.5px;
                font-weight: bold;
                font-family: $font-b;
                color: #1F8CFA;
                @include mq(sm2) {
						      font-size: fs(14);
						    }
              }
            }
          }
        }

        &-icon {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          padding: 0 12px 7px 5px;
          background: url(../images/top/bg-arrow.svg) no-repeat;

          img {
            width: 6px;
            height: 10px;
          }
        }
      }
    }
  }
  &--job {
  	position: relative;
  	padding-top: vw(150);
  	background: url(../images/recruit/bg-job.png) top center / cover no-repeat;
  	@include mq() {
			padding-top: 150px;
    }
    @include mq(sm2) {
      padding-top: 180px;
    }
  	&-inner {
  		position: relative;
  		// background-color: #E5F1FE;
  		padding-bottom: vw(60);
			background: url(../images/recruit/bg-job2.png) bottom center / 100% no-repeat;
			@include mq() {
				padding-bottom: 40px;
	    }
	    @include mq(sm2) {
				padding-bottom: 80px;
	    }
  	}
  	&-item {
  		display: flex;
  		justify-content: space-between;
  		margin-bottom: 80px;
  		@include mq(sm2) {
	      display: block;
	      margin-bottom: 50px;
	    }
  		&:nth-child(2n) {
  			flex-flow: row-reverse;
  			._cnt {
  				margin-right: 0;
  				margin-left: 50px;
  				@include mq(sm2) {
			    	margin-left: 0;
			    }
  			}
  			._thumb {
  				left: -110px;
  				@include mq() {
	  				left: 0;
			    }
  			}
  		}
  		&:last-child {
  			margin-bottom: 0;
  		}
  		._thumbWrap {
  			position: relative;
  			width: 45%;
  			@include mq(sm2) {
		    	width: 100%;	
		    }
  		}
  		._thumb {
  			position: absolute;
				width: calc(100% + 110px);
				height: 400px;
  			max-height: vw(400);
  			@include mq() {
  				position: relative;
		    	width: 100%;
		    }
		    @include mq(sm2) {
		    	height: 250px;
  				margin-top: 20px; 
		    	max-height: 100%;
		    }
  		}
  		._cnt {
  			width: 55%;
  			margin-right: 50px;
  			@include mq(sm2) {
		    	width: 100%;	
		    }
  		}
  		&-label {
  			margin-bottom: 15px;
  			span {
  				display: inline-block;
  			}
  			.txt {
  				margin-right: 5px;
  				font-weight: 500;
  				color: #6FB4FC;
  			}
  			.num {
  				font-size: fs(40);
  				letter-spacing: 1px;
  				color: #6FB4FC;
  				font-weight: 700;
  			}
  		}
  		&-ttl {
  			margin-bottom: 20px;
  			font-size: fs(24);
  			letter-spacing: 1.8px;
  			font-weight: bold;
  			@include mq(sm2) {
		    	font-size: fs(22);
		    }
  		}
  		&-likeBox {
  			display: flex;
  			align-items: center;
  			margin-bottom: 20px;
  			._icon {
  				position: relative;
  				display: flex;
  				align-items: center;
  				justify-content: center;
  				flex-shrink: 0;
  				width: 40px;
  				height: 40px;
  				margin-right: 10px;
  				&:after {
  					display: block;
  					position: absolute;
  					right: 1px;
  					top: 50%;
  					transform: translate(100%, -50%);
  					-webkit-transform: translate(100%, -50%);
  					width: 0; 
					  height: 0; 
					  border-top: 6px solid transparent;
					  border-bottom: 6px solid transparent;
					  border-left: 6px solid #6FB4FC;
  					content: "";
  				}
  				background-color: #6FB4FC;
  				border-radius: 12px;
  				img {
  					width: 15px;
  				}
  			}
  			._list {
  				display: flex;
  				flex-wrap: wrap;
  				padding: 5px 0 5px 15px;
  				background-color: #fff;
  				border-radius: 10px;
  				._item {
						display: inline-block;
						margin-right: 15px;
						padding-left: 18px;
						color: #5F5F5F;
						font-size: fs(14);
						font-weight: bold;
						background: url(../images/recruit/icon-check.svg) no-repeat;
				    background-position: left center;
  				}
  			}
  		}
			.desc {
				margin-bottom: 30px;
			}
			&-suggest {
				&-ttl {
					position: relative;
					width: 410px;
					max-width: 100%;
					margin: 0 auto -15px;
					padding: 9px 5px;
					background-color: #1F8CFA;
					color: #fff;
					border-radius: 5px;
					font-size: fs(17);
					letter-spacing: .85px;
					font-weight: bold;
					text-align: center;
					&:after {
  					display: block;
  					position: absolute;
  					left: 50%;
  					bottom: 1px;
  					transform: translate(-50%, 100%);
  					-webkit-transform: translate(-50%, 100%);
  					width: 0; 
					  height: 0; 
					  border-left: 6px solid transparent;
					  border-right: 6px solid transparent;
					  border-top: 6px solid #1F8CFA;
  					content: "";
  				}
				}
				&-list {
					padding: 32px 20px 25px;
					border-radius: 10px;
					background-color: #fff;
					li {
						position: relative;
						display: block;
						margin-bottom: 10px;
						padding-left: 16px;
						font-size: fs(15);
						font-weight: bold;
						letter-spacing: .75px;
						&:last-child {
							margin-bottom: 0;
						}
						&:before {
							position: absolute;
							left: 0;
							top: 8px;
							display: block;
							width: 7px;
							height: 7px;
							border-radius: 50%;
							background: #0566EF;
							content: "";
						}
					}
				}
			}
  	}
  }
  &--msg {
  	height: vw(900);
  	min-height: 900px;
  	background: url(../images/recruit/bg-msg.png) no-repeat;
    background-size: cover;
    background-position: bottom center;
    @include mq() {
			padding-top: 50px;
    }
    @include mq(sm2) {
      min-height: 1000px;
    }
  	&-ttl {
  		margin-bottom: 50px;
  		font-size: fs(38);
  		font-weight: bold;
  		letter-spacing: 3.8px;
  		color: #1984F7;
  		@include mq() {
				font-size: fs(25);
	    }
  	}
  	&-cnt {
      display: flex;
      justify-content: center;
      margin: 0 -10px;

      @include mq(sm2) {
        display: block;
        margin: 0;
      }

      &-item {
        padding: 0 10px;
        width: 50%;
        @include mq(sm2) {
        	width: 100%;
          padding: 0;
          margin-bottom: 20px;
        }

        &-inner {
          position: relative;
          height: 136px;
          width: 100%;
          border: solid 2px #1D8AF9;
          background-color: #fff;

          @include mq(sm2) {
            height: vw2(136);
          }
        }

        &-infor {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -50%);

          &-ttl {

            span {
              display: block;
              text-align: center;

              &.jp {
                margin-bottom: 3px;
                font-size: fs(24);
                letter-spacing: 1.2px;
                font-weight: bold;
              }

              &.en {
                font-size: fs(14);
                letter-spacing: 1.4px;
                font-weight: bold;
                font-family: $font-b;
                color: #1F8CFA;
              }
            }
          }
        }

        &-icon {
          position: absolute;
          top: -1px;
          left: -1px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          padding: 0 12px 7px 5px;
          background: url(../images/top/bg-arrow.svg) no-repeat;

          img {
            width: 6px;
            height: 10px;
          }
        }
      }
    }
  }
}