.p-service {
  margin-top: 30px;
  &--subTtl {
    font-size: fs(24);
    font-weight: bold;
    letter-spacing: 1.2px;
    @include mq(sm2) {
      font-size: fs(22);
    }
  }
  &--section {
    padding-bottom: 80px;
    background: url(../images/service/bg-section.png) no-repeat;
    background-size: 100% 60%;
    background-position: bottom center;

    &-row {
      margin-bottom: 70px;

      &:last-child {
        margin-bottom: 0;
      }

      &-headWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        height: 290px;
        border-radius: 10px;
        background: url(../images/service/section01.png) no-repeat;
        background-size: cover;
        color: #fff;
        overflow: hidden;

        @include mq(sm2) {
          padding: 0 10px;
          flex-flow: column;
          justify-content: center;
        }

        &.type2 {
          background-image: url(../images/service/section02.png);
        }

        &.type3 {
          background-image: url(../images/service/section03.png);
        }
      }

      &-head {
        .section-ttl2 {
          margin-bottom: 15px;

          @include mq(sm2) {
            margin-bottom: 5px;
          }

          .jp {
            font-size: fs(30);
            letter-spacing: 2.25px;
          }
        }
      }

      &-direct {
        width: 130px;
        text-align: right;

        @include mq(sm2) {
          width: 100%;
          text-align: center;
          margin-top: 10px;
        }
      }

      &-infor {
        .desc {
          font-size: fs(16);

          @include mq(sm2) {
            font-size: fs(13);
          }
        }
      }

      &-listWrap {
        margin-top: -50px;
        padding: 0 50px;

        @include mq(sm2) {
          padding: 0 20px;
        }

        .list-btn {
          display: flex;
          flex-wrap: wrap;
          margin: -10px;

          li {
            padding: 10px;
            width: 33.33%;

            @include mq(sm2) {
              width: 100%;
            }

            a {
              position: relative;
              overflow: hidden;
              display: block;
              color: #1F8CFA;
              font-size: fs(18);
              font-weight: bold;
              letter-spacing: .9px;
              padding: 22px 25px 22px 15px;
              border: solid 1px #E3EBF2;
              border-bottom-color: #1F8CFA;
              border-radius: 4px 4px 6px 6px;
              background: #fff url(../images/common/icon-arrow-right.svg) right 15px center no-repeat;
              background-size: 5px 10px;
              transition: all .25s;

              &:hover {
                opacity: .8;
                border-color: #1F8CFA !important;
              }
            }
          }
        }
      }
    }
  }

  &--nav {
  	margin-bottom: -5px;
  	padding: 100px 0 60px;
  	background: url(../images/service/bg-section.png) no-repeat;
    background-size: 100%;
    background-position: top center;
    @include mq(sm2) {
    	background-size: cover;
    }
    &-ttl {
    	margin-bottom: 30px;
    	span {
    		display: block;
    	}
    	.en {
    		margin-bottom: 5px;
    		font-size: fs(16);
    		font-weight: bold;
    		color: #1F8CFA;
    	}
    	.jp {
    		font-size: fs(30);
    		letter-spacing: 2.25px;
    		font-weight: bold;
    	}
    }

    &-list {
    	display: flex;
    	flex-wrap: wrap;
    	margin: -10px;
    }

    &-item {
    	width: 33.33%;
      padding: 10px;

      @include mq(sm2) {
      	width: 100%;
        padding: 0;
        margin-bottom: 20px;
      }

      &-inner {
        position: relative;
        height: 220px;
        @include mq() {
        	height: 160px;
        }
        @include mq(sm2) {
        	height: 190px;
        }
      }

      &-infor {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        &-ttl {
        	font-size: fs(18);
        	letter-spacing: 1.35px;
        	color: #fff;
        }
      }

      &-icon {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        padding: 0 12px 7px 5px;
        background: url(../images/top/bg-arrow.svg) no-repeat;

        img {
          width: 6px;
          height: 10px;
        }
      }
    }
  }

  &--detail {
    &-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 80px;
      padding: 0 25px;
      border-bottom: solid 1px #f2f8ff;
      @include mq() {
        padding: 0;
        @include mq(sm2) {
          border-bottom: none;
          margin: 0 -10px 80px;
        }
      }
      li {
        padding: 0 20px;
        @include mq(sm2) {
          padding: 0 10px;
          width: 50%;
          text-align: center;
        }
        a {
          position: relative;
          display: block;
          padding: 20px 0;
          font-size: fs(15);
          font-weight: bold;
          color: #CBCBCB;
          transition: all .25s;
          @include mq(sm2) {
            border-bottom: solid 1px #f2f8ff;
          }
          &.active,
          &:hover {
            color: #0566EF;
            &:after {
              width: 40px;
            }
          }
          &:after {
            display: block;
            position: absolute;
            left: 50%;
            bottom: -1px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            height: 2px;
            width: 0;
            background-color: #0566EF;
            transition: all .25s;
            content: "";
          }
        }
      }
    }
    &-head {
      margin-bottom: 100px;
      @include mq(sm2) {
        margin-bottom: 60px;
      }
      &-thumb {
        height: 330px;
        @include mq(sm2) {
          height: 230px;
        }
      }
    }
    &-flow {
      margin-bottom: 80px;
      .p-service--subTtl {
        margin-bottom: 25px;
      }
      &-item {
        &:nth-child(2) {
          z-index: 2;
        }
        &:nth-child(3) {
          z-index: 3;
        }
        &:nth-child(4) {
          z-index: 4;
          .col4-item--inner {
            overflow: hidden;
          }
        }
        &:last-child {
          .col4-item--inner {
            @include mq(sm2) {
              &:before,
              &:after {
                display: none;
              }
            }
          }
        }
        &-label {
          margin-bottom: 10px;
          font-size: fs(16);
          font-weight: bold;
          font-family: $font-a;
          text-align: left;
          color: #1F8CFA;
          @include mq(sm2) {
            text-align: center;
          }
          span {
            position: relative;
            display: inline-block;
            padding-right: 18px;
            @include mq(sm2) {
              padding-right: 0;
            }
            &:before {
              position: absolute;
              right: 0;
              top: 6px;
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #1F8CFA;
              content: "";
              @include mq(sm2) {
                display: none;
              }
            }
            &:after {
              position: absolute;
              right: 0;
              top: 8px;
              display: block;
              width: 180px;
              height: 1px;
              transform: translateX(100%);
              border-radius: 50%;
              border-bottom: dashed 1px #1F8CFA;
              content: "";
              @include mq() {
                top: 9px;
              }
              @include mq(sm2) {
                display: none;
              }
            }
          }
        }
        &-ttl {
          font-size: fs(18);
          letter-spacing: 1px;
          font-weight: bold;
        }
      }
      .col4-item {
        &--inner {
          height: 100%;
          padding: 20px;
          background-color: #E5F1FE;
          border-radius: 4px;
          @include mq(sm2) {
            position: relative;
            text-align: center;
            &:before {
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translate(-50%, 50%);
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #1F8CFA;
              content: "";
            }
            &:after {
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translate(-50%, 100%);
              display: block;
              width: 1px;
              height: 20px;
              border-radius: 50%;
              border-right: dashed 1px #1F8CFA;
              content: "";
            }
          }
        }
      }
    }
    &-content {
      .p-service--subTtl {
        margin-bottom: 40px;
      }
      &-row {
        margin-bottom: 60px;
        .col2-7 {
          &--right {
            .thumb {
              height: 212px;
            }
          }
          .col2-2 {
            padding: 0 20px;
          }
        }
      }
      &-ttl {
        margin-bottom: 20px;
        font-size: fs(18);
        letter-spacing: .45px;
        font-weight: bold;
        color: #0566EF;
      }
      &-subTtl {
        margin-bottom: 10px;
        font-size: fs(15);
        letter-spacing: .75px;
        font-weight: bold;
      }
    }
    &-direct {
      margin: 30px 0 80px;
      text-align: center;
      .btn-blue {
        margin: 0 auto;
      }
    }
  }
}

.p-categories {
  &--ttl {
    margin-bottom: 50px;
    font-size: fs(30);
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  &--desc {
    margin-bottom: 60px;
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px -20px 50px;

    @include mq(sm2) {}
  }

  &--item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 33.33%;

    @include mq(sm2) {
      width: 100%;
    }

    &-inner {
      padding-bottom: 30px;
      border-radius: 15px;
      border-bottom: solid 1px #1F8CFA;
      border-radius: 0 0 6px 6px;
    }

    &-thumb {
      height: 180px;
      margin-bottom: 20px;
      @include mq() {
				height: 140px;      	
      }
      @include mq(sm2) {
				height: 190px;      	
      }
    }

    &-info {
      padding: 0 20px;
    }

    &-ttl {
    	font-weight: bold;
    	font-size: fs(18);
    	letter-spacing: 0.9px;
      margin-bottom: 15px;
      color: #1F8CFA;
      // background: url(../images/common/icon-arrow-right.svg) right center no-repeat;
    }

    &-desc {}
  }
}