@charset "UTF-8";

/* -------------------
  TOP PAGE
--------------------*/
.section {
  &-mv {
    position: relative;
    min-height: vw(860);
    overflow: hidden;
    margin-bottom: 20px;

    &--ttl {
      position: absolute;
      left: vw(220);
      top: vw(240);
      height: 34px;
      z-index: 3;

      @include mq() {
        left: vw2(30);
        top: vw2(100);
        height: vw2(20);
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    &--image {
      img {
        width: 100%;
      }
    }

    &--mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: url(../images/top/mv-mask.svg) no-repeat;
      background-size: cover;
    }

    &--video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 110%;
      height: auto;
      z-index: 1;

      video {
        width: 100%;
        height: auto;
      }
    }
  }

  &-about {
    margin-bottom: 50px;

    &--inner {
      display: flex;
      justify-content: space-between;

      @include mq() {
        display: block;
      }
    }

    &--ttlWrap {
      margin-right: 120px;
      padding-left: 20px;
      text-align: center;

      @include mq() {
        margin-right: 0;
      }

      .section-ttl {}
    }

    &--cnt {
      &-ttl {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: fs(30);
        letter-spacing: 3.6px;
        @include mq(sm2) {
          font-size: fs(19);
	        letter-spacing: 1px;
        }
      }

      .btn-blue {
        margin-top: 25px;

        @include mq() {
          margin: 25px auto 0;
        }
      }
    }
  }

  &-service {
    padding-top: 200px;
    background: url(../images/top/bg-service.svg) no-repeat;
    background-size: contain;

    @include mq() {
      padding-top: 120px;
    }

    @include mq(sm2) {
      padding-top: 55px;
    }

    &--inner {
      margin-top: -20px;
      padding-top: 20px;
      padding-bottom: 110px;
      background: #E5F1FE;
      @include mq() {
      	padding-bottom: 35px;
      }
      @include mq(sm2) {
	      padding-top: 40px;
	    }
    }

    &--cnt {
      &-pickup {
        display: flex;
        margin-bottom: 130px;
        @include mq(sm2) {
			    display: block;
			    margin-bottom: 60px;
			  }
        &-ttlWrap {
          width: 280px;
          @include mq(sm2) {
				    width: 100%;
				  }
          .section-ttl2 {
            margin-bottom: 20px;
          }
        }

        &-infor {
          .desc {
            margin-bottom: 25px;
          }
          ._direct {
          	@include mq(sm2) {
          		text-align: center;
          	}
          }
        }

        &-imgBox {
          position: relative;
          width: calc(100% - 280px);
          @include mq(sm2) {
				    width: 100%;
				    padding-bottom: vw2(50);
				  }
        }

        &-img01 {
          position: absolute;
          bottom: -50px;
          left: -30px;
          width: 210px;
          height: 170px;

          @include mq() {
            bottom: -40px;
            left: -30px;
            width: 170px;
            height: 125px;
          }
          @include mq(sm2) {
				    width: vw2(100);
				    height: vw2(80);
				    bottom: vw2(20);
				    left: vw2(5);
				  }
        }

        &-img02 {
          width: 680px;
          height: 470px;
          margin-left: 120px;

          @include mq() {
            width: 540px;
            height: 365px;
            margin-left: 20px;
          }
          @include mq(sm2) {
            width: 540px;
            height: vw2(240);
            margin-left: 60px;
          }

          img {
            width: auto;
          }
        }

        &-img03 {
          position: absolute;
          bottom: -50px;
          right: -220px;
          @include mq() {
          	bottom: -40px;
          	right: -30px;
            width: 190px;
            height: 140px;
          }
          @include mq(sm2) {
				    width: vw2(180);
				    height: vw2(100);
				    bottom: vw2(20);
				    right: vw2(-100);
				  }
        }
      }

      &-list {
        display: flex;
        margin: 0 -35px;
        @include mq() {
        	margin: 0 -20px;
        }
        @include mq(sm2) {
        	display: block;
        	margin: 0;
        }
      }

      &-item {
        width: 50%;
        padding: 0 35px;
        height: 380px;
        @include mq() {
        	padding: 0 20px;
        	height: 320px;
        }
        @include mq(sm2) {
        	width: 100%;
        	margin-bottom: 20px;
        	padding: 0;
          height: vw2(160);
        }
        &.type2 {
          ._wrap {
            background-image: url(../images/top/service05.png);
          }
        }

        ._wrap {
          height: 100%;
          display: flex;
          align-items: center;
          color: #fff;
          background: url(../images/top/service04.png) no-repeat;
          background-size: cover;
        }

        &-inner {
          padding: 20px 40px 0;
          @include mq() {
	        	width: 100%;
	        }
	        @include mq(sm2) {
			      padding: 0 30px 0;
			    }

          .section-ttl2 {
            margin-bottom: 30px;
            @include mq(sm2) {
				      margin-bottom: 10px;
				    }
          }
        }

        &-infor {
          .desc {
            margin-bottom: 100px;
            @include mq() {
		        	margin-bottom: 50px;
		        }
		        @include mq(sm2) {
					    margin-bottom: 0;
					    font-size: fs(13);
					  }
          }
        }
      }
    }
  }

  &-case {
    padding-top: 220px;
    background: url(../images/top/bg-case.svg) no-repeat;
    background-size: contain;
    @include mq() {
    	padding-top: 180px;
    	margin-top: -5px;
    }
    @include mq(sm2) {
      padding-top: 120px;
    }
    &--inner {
      padding-bottom: 90px;
      background-color: #fff;
      @include mq(sm2) {
	      padding-bottom: 55px;
	    }
    }

    &--ttlWrap {
      margin-left: 120px;
      @include mq() {
	    	margin-left: 0;
	    	text-align: center;
	    }
      .section-ttl {
        display: inline-block;
      }
    }

    &--cnt {
      display: flex;
      @include mq() {
	    	display: block;
	    }
      &-infor {}

      &-ttl {
        font-size: fs(18);
        font-weight: bold;
        letter-spacing: .45px;
        margin-bottom: 15px;
      }

      &-direct {
        margin-left: 80px;
        @include mq() {
		    	margin-left: 0;
		    	margin-top: 40px;
		    	text-align: center;
		    	.btn-blue {
		    		margin: 0 auto;
		    	}
		    }
      }
    }
  }

  &-sdgs {
    margin-top: -10px;
    background: linear-gradient(358deg, #E5F1FE 0%, #FFFFFF 100%) 0% 0%;

    &--inner {
      padding: 250px 0 80px;
      background: url(../images/top/bg-sdgs.png) top center no-repeat;
      background-size: 100%;
      @include mq() {
	    	padding: 146px 0 20px;
	    }
	    @include mq(sm2) {
	      padding: 140px 0 20px;
	      background-size: cover;
	    }
    }

    &--ttlWrap {}

    &--head {
      margin-bottom: 80px;
      @include mq(sm2) {
	      margin-bottom: 40px;
	    }

      &-intro {
        display: flex;
        padding: 0 80px;
        @include mq(sm2) {
		      padding: 0 10px;
		    }
      }

      &-icon {
        width: 66px;
        flex-shrink: 0;
        margin-right: 24px;
        @include mq(sm2) {
		      width: 70px;
		    }
      }

      &-cnt {
        .desc {
          line-height: 2.2;
        }
      }

      &-direct {
        margin-top: 40px;

        .btn-blue {
          margin: 0 auto;
        }
      }
    }

    &--cnt {
      display: flex;
      justify-content:center;
      margin: 0 -15px;
      padding: 0 30px;
      @include mq(sm2) {
	      display: block;
	      margin: 0;
	      padding: 0;
	    }

      &-item {
        padding: 0 15px;
        @include mq(sm2) {
		      padding: 0;
		      margin-bottom: 20px;
		    }
        &-inner {
          position: relative;
          height: 220px;
          @include mq(sm2) {
			      height: vw2(190);
			    }
        }

        &-infor {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &-ttl {
            padding-top: 66px;
            background: url(../images/top/icon-sdgs01.svg) top center no-repeat;
            &.recruit {
              background-image: url(../images/top/icon-sdgs02.svg);
            }

            span {
              display: block;
              text-align: center;

              &.jp {
                margin-bottom: 3px;
                font-size: fs(18);
                letter-spacing: 1.35px;
                font-weight: bold;
              }

              &.en {
                font-size: fs(10);
                letter-spacing: 1px;
                font-weight: bold;
                font-family: $font-b;
                color: #1F8CFA;
              }
            }
          }
        }

        &-icon {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 44px;
          height: 44px;
          padding: 0 12px 7px 5px;
          background: url(../images/top/bg-arrow.svg) no-repeat;

          img {
            width: 6px;
            height: 10px;
          }
        }
      }
    }
  }

  &-news {
    margin-top: 140px;
    @include mq(sm2) {
      margin-top: 65px;
    }
    &--head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      @include mq(sm2) {
      	display: block;
	    }
    }

    &--ttl {
      font-weight: bold;
      font-size: fs(40);
      letter-spacing: 2px;
      font-family: $font-a;
      color: #1F8CFA;
    }

    &--list {}

    &--item {
      background-color: #fff;
      margin-bottom: 2px;
      transition: all .25s;

      &:hover {
        background-color: #b0cce9;
      }

      &-inner {
        position: relative;
        display: flex;
        align-items: center;
        padding: 25px 38px 25px 20px;

        &:after {
          position: absolute;
          right: 28px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 8px;
          height: 12px;
          background: url(../images/common/icon-arrow-right.svg) no-repeat;
          background-size: contain;
          content: "";
          @include mq(sm2) {
		      	right: 15px;
			    }
        }
      }

      &-dateWrap {
        display: flex;
        align-items: center;
        margin-right: 25px;
        @include mq(sm2) {
	      	flex-flow: column;
	      	margin-right: 15px;
		    }
        .date {
          margin-right: 15px;
          @include mq(sm2) {
		      	margin-right: 0;
		      	margin-bottom: 5px;
			    }
        }

        &.tag {}
      }
    }
  }
}